{% extends "base.html" %}
{% block title %}Coupon Detail{% endblock %}

{% block main %}
<form class="form-inline" method="post" action="{{ url_for('coupon_action') }}">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="couponCodeInput" name="coupon_code"
          value="{{result.get_coupon_code()}}">
        <label for="couponCodeInput">Coupon Code</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="ownerInput" name="owner" value="{{result.get_owner()}}">
        <label for="ownerInput">Owner</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="date" class="form-control" id="dateOfUseInput" name="date_of_use"
          value="{{result.get_date_of_use()}}">
        <label for="dateOfUseInput">Date of Use</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="form-floating">
        <input type="date" class="form-control" id="expiryDateInput" name="expiry_date"
          value="{{result.get_expiry_date()}}">
        <label for="expiryDateInput">Expiry Date</label>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="notes" value="{{result.get_notes()}}">
    <label for="floatingInput">Notes</label>
  </div>
  <input type="submit" class="btn btn-primary" name="action" value="Update" />
  <input type="submit" class="btn btn-primary" name="action" value="Use Coupon" />
  <input type="reset" class="btn btn-primary" name="action" value="Reset" />
</form>
{% block sms %}{% endblock %}
{% endblock %}